langchain-core
langgraph
ollama
browser-use==0.1.20
playwright
chromadb
pypdf2
pydantic
langchain-chroma
langchain-community
langchain-openai
requests
ddgs
beautifulsoup4
lxml
fastapi
uvicorn
jinja2
vllm
openai
